# Notas RStudio

## Operación vector 3 dim con 2-dim
R reutiliza el 1er valor del vector de longitud 2, ¡pero note la advertencia!

In [1]:
ret<-c(1,2,3)
ret * c(.2, .6)

Warning message in ret * c(0.2, 0.6):
“longer object length is not a multiple of shorter object length”

[1] 0.2 1.2 0.6

## Obtener elementos que cumplan una condicion TRUE

In [5]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Which days did you make money on poker?
selection_vector <- poker_vector > 0
print(selection_vector)

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
print(poker_winning_days)

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE
   Monday Wednesday    Friday
      140        20       240

## Nombrar matrices

In [1]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
region <- c("US", "non-US")
titles <- c("A New Hope", 
                 "The Empire Strikes Back", 
                 "Return of the Jedi")
               
star_wars_matrix <- matrix(box_office, 
                      nrow = 3, byrow = TRUE,
                      dimnames = list(titles, region)) #dimnames(filas,columnas)
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

## Adjuntar

Every `cbind()` (une como columnas matrices y vectores) has an `rbind()` (une como filas matrices y vectores). Every `colSums()` (obtiene el total de las columnas) has an `rowSums()` (obtiene el total de las filas).

In [21]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
region <- c("US", "non-US")
titles <- c("A New Hope", 
            "The Empire Strikes Back", 
            "Return of the Jedi")
               
star_wars_matrix <- matrix(box_office, 
                      nrow = 3, byrow = TRUE,
                      dimnames = list(titles, region))
print(star_wars_matrix)

print("------------------------------------------------------------------")
# The worldwide box office figures
TOTAL_COL <- rowSums(star_wars_matrix)
print(TOTAL_COL)

TOTAL_FIL <- colSums(star_wars_matrix)
print(TOTAL_FIL)


print("-----------------------    cbind()    ----------------------------")
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix,TOTAL_COL)
print(all_wars_matrix)

print("-----------------------    rbind()    ----------------------------")
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- rbind(star_wars_matrix,TOTAL_FIL)
print(all_wars_matrix)

                             US non-US
A New Hope              460.998  314.4
The Empire Strikes Back 290.475  247.9
Return of the Jedi      309.306  165.8
[1] "------------------------------------------------------------------"
             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106
      US   non-US
1060.779  728.100
[1] "-----------------------    cbind()    ----------------------------"
                             US non-US TOTAL_COL
A New Hope              460.998  314.4   775.398
The Empire Strikes Back 290.475  247.9   538.375
Return of the Jedi      309.306  165.8   475.106
[1] "-----------------------    rbind()    ----------------------------"
                              US non-US
A New Hope               460.998  314.4
The Empire Strikes Back  290.475  247.9
Return of the Jedi       309.306  165.8
TOTAL_FIL               1060.779  728.1

 If you want to check out the contents of the workspace, you can type `ls()` in the console.

## Eliminar una fila de un dataframe

Delete the company column

cash$company <- NULL

## Filtrar un dataframe, de acuerdo a un parámetro

![image](image.png)

## Añadir una columna

![image-2](image-2.png)

## Valor Presente $

![image-3](image-3.png)

# Factor

## Qué es un FACTOR
- Un factor es una variable categórica en R que puede tomar un conjunto limitado de valores.
- Se utiliza para representar datos cualitativos o categóricos.
- Por ejemplo, el género, el estado civil, la educación, etc.
- Los factores se pueden crear utilizando la función `factor()`

In [4]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
print(factor_animals_vector)

# Temperature (NOTAR: orden)
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
print(factor_temperature_vector)

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse
[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

There are `two types of categorical variables`: a **nominal categorical** variable and an **ordinal categorical** variable.

A **nominal variable** is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, `c("Elephant", "Giraffe", "Donkey", "Horse")`. Here, it is impossible to say that one stands above or below the other.

In contrast, **ordinal variables** do have a natural ordering. For example `c("Low", "Medium", "High")`. Here it is obvious that "High">"Medium">"Low".

## Crear un FACTOR con la función `cut()`

![image-4](image-4.png)

## Borrar un nivel de un FACTOR

![image-5](image-5.png)
![image-6](image-6.png)

## Cambiar nombre de NIVELES
However, sometimes you will want to change the names of these levels for clarity or other reasons. R allows you to do this with the function `levels()`

In [7]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
print(factor_survey_vector)

# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female","Male")

print(factor_survey_vector) #NOTAR: que el factor tambíen cambia con los nuevos nombres

[1] M F F M M
Levels: F M
[1] Male   Female Female Male   Male
Levels: Female Male

usando `summary()`

In [10]:
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
print(summary(factor_survey_vector)) # Me dice cuantos de cada tipo hay

F M
2 3